<a href="https://colab.research.google.com/github/Prinsila/databases/blob/master/Kopia_av_DataSkills.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# prompt: /content/Crazy frogs.xlsx read this file

import pandas as pd

df = pd.read_excel('/content/Crazy frogs.xlsx')
df

,linkedin_id,job_title,contract,mode,city,country,company,sector,job_posting_title,linkedin_skills
0,3629542706,Data Analyst,Full-time,On-site,Oldenburg,Germany,hanfried Personaldienstleistungen GmbH,Staffing & Recruiting,Data Analyst Finance (m/w/d) in Direktvermittlung,"Visual Basic, SQL, Data Visualization, Data An..."
1,3580242005,Data Analyst,Full-time,On-site,NaN,Italy,Telebit SpA,,LOGISTIC PROCESS & DATA ANALYST,"Analytical Skills, Data Visualization, Data An..."
2,3570731003,Data Specialist,Full-time,Hybrid,Milan,Italy,NTT DATA Italia,Information Technology & Services,Data Driven Transformation Specialist,"Data Governance, Data Analytics, Analytics, Da..."
3,3587767744,Data Analyst,Full-time,Hybrid,Prague,Czechia,Aon,Financial Services,Junior Data Analyst,"Data Visualization, Data Analytics, Visualizat..."
4,3625424422,Financial Analyst,Full-time,On-site,Madrid,Spain,BNP Paribas CIB,Financial Services,Financial Analyst CIB BL STEERING | BNP Pariba...,"Ad Hoc Analysis, Business Requirements, Financ..."
...,...,...,...,...,...,...,...,...,...,...
297,3461834743,Analyst,Full-time,Hybrid,London,United Kingdom,Mercer,Information Technology & Services,DC Analyst,"Project Management, Analytical Skills, Communi..."
298,3632292084,Data Analyst,Full-time,On-site,Ã‰vry-Courcouronnes,France,Carrefour,Retail,Data analyst en alternance (F/H),"Visual Basic for Applications (VBA), Data Visu..."
299,3630050226,Quality Analyst,Full-time,On-site,Barcelona,Spain,Teleperformance,Outsourcing/Offshoring,Cloud Quality Analyst,"Communication, Quality Control, Written Commun..."
300,3624963303,Data Analyst,Part-time,Remote,Kastoria,Greece,TELUS International AI Data Solutions,Information Technology & Services,Freelance Job - Greek Speaking Online Data Ana...,"English, Data Analysis, Social Media, Online R..."
301,3612421863,Business Intelligence Analyst,Full-time,Hybrid,Cork,Ireland,Morgan McKinley,Staffing & Recruiting,Business Intelligence Analyst,"Business Intelligence (BI), Technical Analysis..."

In [ ]:
# prompt: AnvÃ¤nder fÃ¶ljande DataFrame: df: clean the dataset

# Check for missing values in each column
print(df.isnull().sum())

# Remove rows with missing values (if any)
df = df.dropna()

# Check data types and convert if needed
print(df.dtypes)
# Example: Convert 'linkedin_id' to integer if it's not already.
# The provided metadata indicates it is a number, so this is just an example.
# if df['linkedin_id'].dtype != 'int64':
#     df['linkedin_id'] = df['linkedin_id'].astype('int64')

# Remove duplicates
df = df.drop_duplicates()

# Check for inconsistent data (e.g. capitalization) in categorical columns
for col in ['job_title', 'contract', 'mode', 'city', 'country', 'company', 'sector', 'job_posting_title']:
    if df[col].dtype == 'object' or 'category':
        df[col] = df[col].str.lower()

# Additional checks might be required depending on the context of the data.
# For example, you might want to clean the 'linkedin_skills' column by splitting it into individual skills
# or removing special characters/extra whitespace.

# Display the cleaned DataFrame
print(df.head())

linkedin_id           0
job_title             0
contract              0
mode                 15
city                 22
country               0
company               0
sector                0
job_posting_title     0
linkedin_skills       0
dtype: int64
linkedin_id           int64
job_title            object
contract             object
mode                 object
city                 object
country              object
company              object
sector               object
job_posting_title    object
linkedin_skills      object
dtype: object
   linkedin_id             job_title   contract     mode       city   country  \
0   3629542706          data analyst  full-time  on-site  oldenburg   germany
2   3570731003       data specialist  full-time   hybrid      milan     italy
3   3587767744          data analyst  full-time   hybrid     prague   czechia
4   3625424422     financial analyst  full-time  on-site     madrid     spain
5   3611524083  analytics specialist  full-time  on-site     lisbon  portugal

                                  company                             sector  \
0  hanfried personaldienstleistungen gmbh              staffing & recruiting
2                         ntt data italia  information technology & services
3                                     aon                 financial services
4                         bnp paribas cib                 financial services
5                         axians portugal  information technology & services

                                   job_posting_title  \
0  data analyst finance (m/w/d) in direktvermittlung
2              data driven transformation specialist
3                                junior data analyst
4  financial analyst cib bl steering | bnp pariba...
5                                     data analytics

                                     linkedin_skills
0  Visual Basic, SQL, Data Visualization, Data An...
2  Data Governance, Data Analytics, Analytics, Da...
3  Data Visualization, Data Analytics, Visualizat...
4  Ad Hoc Analysis, Business Requirements, Financ...
5  Pandas (Software), Communication, Data Analyti...

In [ ]:
# prompt: print the cleaned dataset

import pandas as pd


df = pd.read_excel('/content/Crazy frogs.xlsx')

# Check for missing values in each column
print(df.isnull().sum())

# Remove rows with missing values (if any)
df = df.dropna()

# Check data types and convert if needed
print(df.dtypes)
# Example: Convert 'linkedin_id' to integer if it's not already.
# The provided metadata indicates it is a number, so this is just an example.
# if df['linkedin_id'].dtype != 'int64':
#     df['linkedin_id'] = df['linkedin_id'].astype('int64')

# Remove duplicates
df = df.drop_duplicates()

# Check for inconsistent data (e.g. capitalization) in categorical columns
for col in ['job_title', 'contract', 'mode', 'city', 'country', 'company', 'sector', 'job_posting_title']:
    if df[col].dtype == 'object' or pd.api.types.is_categorical_dtype(df[col]):
        df[col] = df[col].str.lower()

# Display the cleaned DataFrame
df

linkedin_id           0
job_title             0
contract              0
mode                 15
city                 22
country               0
company               0
sector                0
job_posting_title     0
linkedin_skills       0
dtype: int64
linkedin_id           int64
job_title            object
contract             object
mode                 object
city                 object
country              object
company              object
sector               object
job_posting_title    object
linkedin_skills      object
dtype: object

,linkedin_id,job_title,contract,mode,city,country,company,sector,job_posting_title,linkedin_skills
0,3629542706,data analyst,full-time,on-site,oldenburg,germany,hanfried personaldienstleistungen gmbh,staffing & recruiting,data analyst finance (m/w/d) in direktvermittlung,"Visual Basic, SQL, Data Visualization, Data An..."
2,3570731003,data specialist,full-time,hybrid,milan,italy,ntt data italia,information technology & services,data driven transformation specialist,"Data Governance, Data Analytics, Analytics, Da..."
3,3587767744,data analyst,full-time,hybrid,prague,czechia,aon,financial services,junior data analyst,"Data Visualization, Data Analytics, Visualizat..."
4,3625424422,financial analyst,full-time,on-site,madrid,spain,bnp paribas cib,financial services,financial analyst cib bl steering | bnp pariba...,"Ad Hoc Analysis, Business Requirements, Financ..."
5,3611524083,analytics specialist,full-time,on-site,lisbon,portugal,axians portugal,information technology & services,data analytics,"Pandas (Software), Communication, Data Analyti..."
...,...,...,...,...,...,...,...,...,...,...
297,3461834743,analyst,full-time,hybrid,london,united kingdom,mercer,information technology & services,dc analyst,"Project Management, Analytical Skills, Communi..."
298,3632292084,data analyst,full-time,on-site,Ã©vry-courcouronnes,france,carrefour,retail,data analyst en alternance (f/h),"Visual Basic for Applications (VBA), Data Visu..."
299,3630050226,quality analyst,full-time,on-site,barcelona,spain,teleperformance,outsourcing/offshoring,cloud quality analyst,"Communication, Quality Control, Written Commun..."
300,3624963303,data analyst,part-time,remote,kastoria,greece,telus international ai data solutions,information technology & services,freelance job - greek speaking online data ana...,"English, Data Analysis, Social Media, Online R..."
301,3612421863,business intelligence analyst,full-time,hybrid,cork,ireland,morgan mckinley,staffing & recruiting,business intelligence analyst,"Business Intelligence (BI), Technical Analysis..."

In [ ]:
# prompt: change the linkedin ids from 1 to up

import pandas as pd

df = pd.read_excel('/content/Crazy frogs.xlsx')

# Check for missing values in each column
print(df.isnull().sum())

# Remove rows with missing values (if any)
df = df.dropna()

# Check data types and convert if needed
print(df.dtypes)

# Assuming 'linkedin_id' is a numeric column, but needs to be converted to int.
if not pd.api.types.is_numeric_dtype(df['linkedin_id']):
    try:
        df['linkedin_id'] = pd.to_numeric(df['linkedin_id'], errors='coerce').astype('Int64') # Use 'Int64' for nullable integers
    except (ValueError, TypeError):
        print("Could not convert 'linkedin_id' to numeric. Check the column for invalid values.")

# Remove duplicates
df = df.drop_duplicates()

# Check for inconsistent data (e.g. capitalization) in categorical columns
for col in ['job_title', 'contract', 'mode', 'city', 'country', 'company', 'sector', 'job_posting_title']:
    if df[col].dtype == 'object' or pd.api.types.is_categorical_dtype(df[col]):
        df[col] = df[col].str.lower()

# Reset the index after dropping rows
df = df.reset_index(drop=True)

# Now, modify the 'linkedin_id' column to sequential numbers
df['linkedin_id'] = range(1, len(df) + 1)


# Display the cleaned DataFrame
df

linkedin_id           0
job_title             0
contract              0
mode                 15
city                 22
country               0
company               0
sector                0
job_posting_title     0
linkedin_skills       0
dtype: int64
linkedin_id           int64
job_title            object
contract             object
mode                 object
city                 object
country              object
company              object
sector               object
job_posting_title    object
linkedin_skills      object
dtype: object

,linkedin_id,job_title,contract,mode,city,country,company,sector,job_posting_title,linkedin_skills
0,1,data analyst,full-time,on-site,oldenburg,germany,hanfried personaldienstleistungen gmbh,staffing & recruiting,data analyst finance (m/w/d) in direktvermittlung,"Visual Basic, SQL, Data Visualization, Data An..."
1,2,data specialist,full-time,hybrid,milan,italy,ntt data italia,information technology & services,data driven transformation specialist,"Data Governance, Data Analytics, Analytics, Da..."
2,3,data analyst,full-time,hybrid,prague,czechia,aon,financial services,junior data analyst,"Data Visualization, Data Analytics, Visualizat..."
3,4,financial analyst,full-time,on-site,madrid,spain,bnp paribas cib,financial services,financial analyst cib bl steering | bnp pariba...,"Ad Hoc Analysis, Business Requirements, Financ..."
4,5,analytics specialist,full-time,on-site,lisbon,portugal,axians portugal,information technology & services,data analytics,"Pandas (Software), Communication, Data Analyti..."
...,...,...,...,...,...,...,...,...,...,...
260,261,analyst,full-time,hybrid,london,united kingdom,mercer,information technology & services,dc analyst,"Project Management, Analytical Skills, Communi..."
261,262,data analyst,full-time,on-site,Ã©vry-courcouronnes,france,carrefour,retail,data analyst en alternance (f/h),"Visual Basic for Applications (VBA), Data Visu..."
262,263,quality analyst,full-time,on-site,barcelona,spain,teleperformance,outsourcing/offshoring,cloud quality analyst,"Communication, Quality Control, Written Commun..."
263,264,data analyst,part-time,remote,kastoria,greece,telus international ai data solutions,information technology & services,freelance job - greek speaking online data ana...,"English, Data Analysis, Social Media, Online R..."
264,265,business intelligence analyst,full-time,hybrid,cork,ireland,morgan mckinley,staffing & recruiting,business intelligence analyst,"Business Intelligence (BI), Technical Analysis..."

In [ ]:
# prompt: drop the column mode, city, and company

import pandas as pd

df = pd.read_excel('/content/Crazy frogs.xlsx')

# Check for missing values in each column
print(df.isnull().sum())

# Remove rows with missing values (if any)
df = df.dropna()

# Check data types and convert if needed
print(df.dtypes)

# Assuming 'linkedin_id' is a numeric column, but needs to be converted to int.
if not pd.api.types.is_numeric_dtype(df['linkedin_id']):
    try:
        df['linkedin_id'] = pd.to_numeric(df['linkedin_id'], errors='coerce').astype('Int64') # Use 'Int64' for nullable integers
    except (ValueError, TypeError):
        print("Could not convert 'linkedin_id' to numeric. Check the column for invalid values.")

# Remove duplicates
df = df.drop_duplicates()

# Check for inconsistent data (e.g. capitalization) in categorical columns
for col in ['job_title', 'contract', 'mode', 'city', 'country', 'company', 'sector', 'job_posting_title']:
    if df[col].dtype == 'object' or pd.api.types.is_categorical_dtype(df[col]):
        df[col] = df[col].str.lower()

# Reset the index after dropping rows
df = df.reset_index(drop=True)

# Now, modify the 'linkedin_id' column to sequential numbers
df['linkedin_id'] = range(1, len(df) + 1)

# Drop the specified columns
df = df.drop(columns=['mode', 'city', 'company'])

# Display the cleaned DataFrame
df

linkedin_id           0
job_title             0
contract              0
mode                 15
city                 22
country               0
company               0
sector                0
job_posting_title     0
linkedin_skills       0
dtype: int64
linkedin_id           int64
job_title            object
contract             object
mode                 object
city                 object
country              object
company              object
sector               object
job_posting_title    object
linkedin_skills      object
dtype: object

,linkedin_id,job_title,contract,country,sector,job_posting_title,linkedin_skills
0,1,data analyst,full-time,germany,staffing & recruiting,data analyst finance (m/w/d) in direktvermittlung,"Visual Basic, SQL, Data Visualization, Data An..."
1,2,data specialist,full-time,italy,information technology & services,data driven transformation specialist,"Data Governance, Data Analytics, Analytics, Da..."
2,3,data analyst,full-time,czechia,financial services,junior data analyst,"Data Visualization, Data Analytics, Visualizat..."
3,4,financial analyst,full-time,spain,financial services,financial analyst cib bl steering | bnp pariba...,"Ad Hoc Analysis, Business Requirements, Financ..."
4,5,analytics specialist,full-time,portugal,information technology & services,data analytics,"Pandas (Software), Communication, Data Analyti..."
...,...,...,...,...,...,...,...
260,261,analyst,full-time,united kingdom,information technology & services,dc analyst,"Project Management, Analytical Skills, Communi..."
261,262,data analyst,full-time,france,retail,data analyst en alternance (f/h),"Visual Basic for Applications (VBA), Data Visu..."
262,263,quality analyst,full-time,spain,outsourcing/offshoring,cloud quality analyst,"Communication, Quality Control, Written Commun..."
263,264,data analyst,part-time,greece,information technology & services,freelance job - greek speaking online data ana...,"English, Data Analysis, Social Media, Online R..."
264,265,business intelligence analyst,full-time,ireland,staffing & recruiting,business intelligence analyst,"Business Intelligence (BI), Technical Analysis..."